html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
body {
    line-height: 1.5;
    font-size: 12px; /* set here, use em throughout to effect global changes*/
    margin: 20px;
    background-image: url(black-and-white-bground6.jpg);
    background-size: cover;
    height: 100%;
    color: white;
}
header{
    display:flex;
    height: 150px;
    justify-content: flex-start;
    align-items: center;
    border: 10px solid goldenrod;
    border-radius: 10px;
    color: white;
    filter: drop-shadow(10px 10px 10px grey);
    margin: 20px;
    padding: 15px;
    background-image: linear-gradient(to right, black, grey); /*taken out if new b/g okay */
    position: sticky;  /* Not working.  I cant use this with drop-shadow on the grid-children, they overlay it on scroll  */
    /* top: 0; */
    /* width: 100% */
    top: 0;
    /* cmax-width: 1500px; */
}
img {
    min-width: 150px;
}
h1 {        
    align-self: flex-end;
    position: relative;
    margin-bottom: -10px;
    font-size: 5em;
    /* padding: 82px 0px 0px 0px; */
    display:inline; */
}
h2 {
    color: white;   
    /*color: rgb(16, 4, 71); */
    font-size: 2.5em;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
p   {
    padding: 0 20px 10px 20px;
    color: black;
}
.headshot-img {
    width: 150px; 
    border-radius: 50%; 
    position:relative;
    /*padding: 15px; */
}
.flex-container {
    display: flex;
    border: 10px solid goldenrod;
}
.flex-item-1 {
    flex:1;
    flex-wrap: wrap;
    border: 10px solid goldenrod;
}
.flex-item-2 {
    flex:3;
    border: 10px solid goldenrod;
    display:none;
}
.flex-item-3 {
    flex:3;
    border: 10px solid goldenrod;
}
.grid-container-1 {
    display: flex;
    border: 10px solid goldenrod;
    flex-wrap:wrap;
    min-height: 100px;
    justify-content: center;
    /* height: 200px; */
    margin: 20px;

    }
.grid-child-1 {
    border: .1px grey transparent;
    color: black;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    min-width: 400px;
    flex: 1;
    background-image: rgba(82,80, 80 .2);
    /* -- trying out box designs ---
    background-image: linear-gradient(to bottom right transparent, rgb(82, 80, 80)); */
    /*background-image: linear-gradient(to bottom right,grey, rgb(82, 80, 80)); 
    /*filter: drop-shadow(10px 10px 10px grey) I can't use this with fixed header */
    }
.section {
    border: .1px grey transparent;
    margin-top: 250px;
    padding: 20px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right,grey, rgb(82, 80, 80));
    /*filter: drop-shadow(10px 10px 10px grey); I can't use this with fixed header */
    text-align: center;
    font-size: 1em;
}
ul li {
    font-size: 1.35em;
    color: white;
    padding: 0 20px 20px 0;
}
.contact li {
    display: inline;
    text-align:left;
} 
.quote {
    font-size: 2em;
    font-weight: initial;
    font-style: italic;
    color: black;
}
.small-quote {
        font-size: .75em;
        color: black;
        }
.hide {
            display:none;
        }    
.question:hover ~ .hide{
            display:block;
            font-size: 1.2em;
            font-weight: initial;
            font-style: italic;   
        }
.question:hover {
                    font: size 50%;
                    font-weight: bold;
                    color: white;
        }
.icon:hover + .hide {
    display:flex;
}
.icon {
    transition-property: display;
    /* transition-duration: 4s;
    transition-delay: 2s; */
}
.icon:hover {
    color:yellow;
}
span {
            color: black;
            font-size: 1.4em;
    }
.accent{
        color: whitesmoke;
        font-size: 1.4em;
       }
   
div {
        padding: 8px;
    }
    
    /* 
    
    ---Code I've taken out but might use on re-design---
    
    ---Second grid---

    .grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    }
    .grid-child-2 {
    border: .1px grey transparent;
    padding: 20px;
    border-radius: 25px;
    background-image: linear-gradient(white,grey);
    filter: drop-shadow(10px 10px 10px grey)
    }

    ---Playing with images instead of bullets in ul---

    list-style-image: url("checkmark.png");
    list-style-type: check;
    
    */
/*        --- copied code pre playing with flexbox ---
    .grid-container-1 {
        display: grid;
        grid-template-columns: 1.2fr .8fr;
        /* margin-top:250px; */
        /*grid-gap: 20px;
        margin: 20px;
        top: 200px;
        }
    .grid-child-1 {
        border: .1px grey transparent;
        color: black;
        padding: 10px 20px 20px 20px;
        border-radius: 10px;
        /*background-image: linear-gradient(to bottom right transparent, rgb(82, 80, 80)); */
         /*background-image: linear-gradient(to bottom right,grey, rgb(82, 80, 80)); 
        /*filter: drop-shadow(10px 10px 10px grey) I can't use this with fixed header 
        } */